
 *, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
  }
  .row {
    height: 100%;
    justify-content: center;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .category-card:hover{
    transform: scale(1.05);
    transition-duration: 160ms;
    box-shadow: 0 10px 20px rgba(1, 63, 34, 0.5), 0 4px 8px rgba(42, 53, 1, 0.5);
    color: rgb(97, 90, 90);
}

/* .img:hover{
  transform: scale(1.01);
} */

.robot-text {
  font-family: 'Press Start 2P', cursive;
}
  /*
  .card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
    width: 30.3%;
    margin: 10px;
  }
  
  .card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
    width: 30.3%;
  }
  
  .card-header.card-image {
    padding: 0;
    overflow: hidden;
  }
  
  .card-header.card-image > img {
    display: block;
    max-height: 600px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
  }
  
  .card:hover > .card-header.card-image > img {
    transform: scale(1.025);
  }
  
  .card-body {
    font-size: .9rem;
    padding: 0 var(--padding);
  }
  
  .card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
  }
  
  .btn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
  }
  
  .btn:hover, .btn:focus {
    background: hsl(200, 50%, 60%);
  }
  
  .btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
  }
  
  .btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
  }
  
  .btn + .btn {
    margin-left: .25rem;
  } */